/****** Object:  Table [dbo].[product_detail]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_mapping_id] [bigint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[upc] [nvarchar](50) NULL,
	[brand_name] [nvarchar](250) NULL,
	[supermarket_id] [int] NULL,
	[star_rating_score] [decimal](3, 1) NULL,
	[total_star_ratings] [numeric](18, 0) NULL,
	[image_url] [nvarchar](max) NULL,
 CONSTRAINT [PK_product_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_entities]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_entities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[entity_name] [nvarchar](250) NOT NULL,
	[entity_avg_sentiment] [real] NOT NULL,
	[hit_count] [bigint] NULL,
 CONSTRAINT [PK__product___3213E83F0E2856CD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_review]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_review](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[review_text] [nvarchar](max) NULL,
	[reviewer_name] [nvarchar](50) NULL,
	[reviewer_location] [nvarchar](50) NULL,
	[review_date] [datetime] NULL,
 CONSTRAINT [PK_product_review] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_sentiments]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_sentiments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rating_score_avg] [real] NULL,
	[rating_count] [bigint] NULL,
	[sentiment_score_avg] [real] NULL,
	[sentiment] [nvarchar](20) NULL,
	[product_mapping_id] [bigint] NOT NULL,
 CONSTRAINT [PK__product___3213E83F16C0E5E0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_sentimental]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_sentimental](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[review_id] [bigint] NOT NULL,
	[sentiment_score] [real] NOT NULL,
 CONSTRAINT [PK_review_sentimental] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supermarket]    Script Date: 7/25/2023 5:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supermarket](
	[id] [int] NOT NULL,
	[supermarket_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_supermarket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([id], [product_mapping_id], [name], [upc], [brand_name], [supermarket_id], [star_rating_score], [total_star_ratings], [image_url]) VALUES (1, 1, N'Gatorade Fierce Orange Thirst Quencher Sports Drink, 12 oz, 12 Pack Bottles', N'052000129373', N'Gatorade', 3, CAST(4.5 AS Decimal(3, 1)), CAST(559 AS Numeric(18, 0)), N'https://i5.walmartimages.com/asr/ae657e9f-7cb4-4946-9f9a-f65662c53554.210b6e3209b27868ab5c689b64571e96.jpeg')
INSERT [dbo].[product_detail] ([id], [product_mapping_id], [name], [upc], [brand_name], [supermarket_id], [star_rating_score], [total_star_ratings], [image_url]) VALUES (2, 2, N'Red Bull Energy Drink, 8.4 fl oz, Pack of 12 Cans', N'611269426724', N'Red Bull', 3, CAST(4.3 AS Decimal(3, 1)), CAST(410 AS Numeric(18, 0)), N'https://i5.walmartimages.com/asr/7bd2ef79-8e0f-4cfd-8b67-f2e2deedcdae.9e761fcda5c8df564c37307feef8588d.jpeg')
INSERT [dbo].[product_detail] ([id], [product_mapping_id], [name], [upc], [brand_name], [supermarket_id], [star_rating_score], [total_star_ratings], [image_url]) VALUES (3, 3, N'Monster Energy Zero Ultra, Sugar Free Energy Drink, 10.5 Ounce (Pack of 12)', N'646978510709', N'Monster Energy', 3, CAST(2.6 AS Decimal(3, 1)), CAST(5 AS Numeric(18, 0)), N'https://i5.walmartimages.com/asr/c184cb04-806b-4f45-9912-11032601bd45.de3fe00896e847ba8defbfd88afa0c5e.jpeg')
SET IDENTITY_INSERT [dbo].[product_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product_entities] ON 

INSERT [dbo].[product_entities] ([id], [product_id], [entity_name], [entity_avg_sentiment], [hit_count]) VALUES (369, 14, N'flavors', 0.359999985, 5)
INSERT [dbo].[product_entities] ([id], [product_id], [entity_name], [entity_avg_sentiment], [hit_count]) VALUES (370, 14, N'sale price', -0.1, 2)
INSERT [dbo].[product_entities] ([id], [product_id], [entity_name], [entity_avg_sentiment], [hit_count]) VALUES (371, 14, N'impulse buying', 0, 2)
GO
SET IDENTITY_INSERT [dbo].[product_entities] OFF
GO
SET IDENTITY_INSERT [dbo].[product_review] ON 

INSERT [dbo].[product_review] ([id], [product_id], [review_text], [reviewer_name], [reviewer_location], [review_date]) VALUES (0, 14, N'Wish you had more flavors available. Dissappointed that to get the sale price I had to order online. Oh well, curbed my impulse buying to $0.00.', N'Bh', N'N/A', CAST(N'2023-05-08T19:33:36.000' AS DateTime))
INSERT [dbo].[product_review] ([id], [product_id], [review_text], [reviewer_name], [reviewer_location], [review_date]) VALUES (1, 1, N'Mini bottles of Gatorade are a great size for grandkids.  Just the right size for them to finish; no left over drink to be thrown out as was previously happening.', N'Tweet Long', NULL, CAST(N'2022-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[product_review] ([id], [product_id], [review_text], [reviewer_name], [reviewer_location], [review_date]) VALUES (2, 2, N'I know most people rise and shine to coffee every morning. I however wake up and grab a red bull to start moving faster. I absolutely LOVE the taste of red bull. And find myself wanting another one not for the jult of energy...but because I crave the flavor. Have realized that if its not ice cold...it does taste slightly different.', N'mayas86', NULL, CAST(N'2022-12-06T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[product_review] OFF
GO
SET IDENTITY_INSERT [dbo].[product_sentiments] ON 

INSERT [dbo].[product_sentiments] ([id], [rating_score_avg], [rating_count], [sentiment_score_avg], [sentiment], [product_mapping_id]) VALUES (9, 4.63675356, 1189, 0.40192306, N'Positive', 1)
INSERT [dbo].[product_sentiments] ([id], [rating_score_avg], [rating_count], [sentiment_score_avg], [sentiment], [product_mapping_id]) VALUES (10, 4.68665457, 12289, 0.431, N'Positive', 2)
INSERT [dbo].[product_sentiments] ([id], [rating_score_avg], [rating_count], [sentiment_score_avg], [sentiment], [product_mapping_id]) VALUES (11, 4.70026255, 16328, 0.295, N'Positive', 3)
SET IDENTITY_INSERT [dbo].[product_sentiments] OFF
GO
SET IDENTITY_INSERT [dbo].[review_sentimental] ON 

INSERT [dbo].[review_sentimental] ([id], [product_id], [review_id], [sentiment_score]) VALUES (69, 14, 0, -0.4)
INSERT [dbo].[review_sentimental] ([id], [product_id], [review_id], [sentiment_score]) VALUES (70, 1, 1, 0.8)
INSERT [dbo].[review_sentimental] ([id], [product_id], [review_id], [sentiment_score]) VALUES (71, 2, 2, 0.4)
GO
SET IDENTITY_INSERT [dbo].[review_sentimental] OFF
GO
INSERT [dbo].[supermarket] ([id], [supermarket_name]) VALUES (3, N'Walmart')
INSERT [dbo].[supermarket] ([id], [supermarket_name]) VALUES (4, N'Amazon')
INSERT [dbo].[supermarket] ([id], [supermarket_name]) VALUES (51, N'Target')
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_supermarket] FOREIGN KEY([supermarket_id])
REFERENCES [dbo].[supermarket] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_supermarket]
GO
ALTER TABLE [dbo].[product_entities]  WITH CHECK ADD  CONSTRAINT [FK__product_e__produ__03F0984C] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[product_entities] CHECK CONSTRAINT [FK__product_e__produ__03F0984C]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [FK_product_review_product_detail] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [FK_product_review_product_detail]
GO
ALTER TABLE [dbo].[review_sentimental]  WITH CHECK ADD  CONSTRAINT [FK__review_se__revie__01142BA1] FOREIGN KEY([review_id])
REFERENCES [dbo].[product_review] ([id])
GO
ALTER TABLE [dbo].[review_sentimental] CHECK CONSTRAINT [FK__review_se__revie__01142BA1]
GO
ALTER TABLE [dbo].[review_sentimental]  WITH CHECK ADD  CONSTRAINT [FK_review_sentimental_product_detail] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[review_sentimental] CHECK CONSTRAINT [FK_review_sentimental_product_detail]
GO
