
    <div id="layoutSidenav">
      
      <div id="layoutSidenav_content">
        <main>
          <header
            class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
          >
            <div class="container-xl px-4">
              <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                  <div  (click)="goTo('/')" class="col-auto mt-4">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-activity"
                        >
                          <polyline
                            points="22 12 18 12 15 21 9 3 6 12 2 12"
                          ></polyline>
                        </svg>
                      </div>
                      {{title}}
                    </h1>
                    <div class="page-header-subtitle">
                      Example dashboard overview and content summary
                    </div>
                  </div>
                  <div class="col-12 col-xl-auto mt-4">
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-n10">
            <!-- Example Colored Cards for Dashboard Demo-->
<router-outlet></router-outlet>

         
           
            
          </div>
        </main>
        <footer class="footer-admin mt-auto footer-light">
          <div class="container-xl px-4">
            <div class="row">
              <div class="col-md-6 small">Hackday 2023</div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="/assets/app/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/app/scripts.js"></script>
    <script src="/assets/app/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/app/chart-area-demo.js"></script>
    <script src="/assets/app/chart-bar-demo.js"></script>
    <script
      src="/assets/app/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/app/datatables-simple-demo.js"></script>
    <script src="/assets/app/bundle.js" crossorigin="anonymous"></script>
    <script src="/assets/app/litepicker.js"></script>

    <script src="/assets/app/sb-customizer.js"></script>

    <script
      defer=""
      src="/assets/app/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039"
      integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g=="
      data-cf-beacon='{"rayId":"7e946b7d08483223","token":"6e2c2575ac8f44ed824cef7899ba8463","version":"2023.4.0","si":100}'
      crossorigin="anonymous"
    ></script>

