<div class="container floatLeft" style="margin-top:10%;margin-bottom:3%">
    <div class="col-lg-12">
        <!-- Two factor authentication card-->
        <div class="card mb-4">
            <div class="card-header">{{product.title}}</div>
            <div class="card-body">
                <div class="col-md-4 floatLeft">
                    <img class="img-fluid" style="max-height:300px" src="{{product.image}}">
                </div>
                <div class="col-md-8 floatLeft">
                    <p>{{product.description}}</p>
                    <div
                    class="badge bg-success text-white rounded-pill" style="font-size:20px"
                   *ngIf="product.sentiment == 'Positive' ">
                  Review Sentiment: {{product.sentiment}}
                  </div>
                  <div
                    class="badge bg-danger text-white rounded-pill" style="font-size:20px"
                   *ngIf="product.sentiment == 'Negative' ">
                  Review Sentiment: {{product.sentiment}}
                  </div>
                  <div
                    class="badge bg-warning text-white rounded-pill" style="font-size:20px"
                   *ngIf="product.sentiment == 'Neutral' ">
                  Review Sentiment: {{product.sentiment}}
                  </div>
                </div>
            </div>
        </div>
    </div>
  <div class="col-md-3 floatLeft" style="padding:1%" *ngFor="let platform of product.platforms | keyvalue">
    <div class="card border-start-lg border-start-primary h-100">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <div class="fw-bold text-primary mb-1" style="font-size:30px;text-transform: capitalize;">{{platform.key}}</div>
                    <div class="h5" style="font-size:30px">{{platform.value}}</div>
                    <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up me-1"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                        12%
                    </div>
                </div>
                <div class="ms-2"><i class="fas fa-star fa-2x" style="color:#ffd700"></i></div>
            </div>
        </div>
    </div>
  </div>

</div>

<div class="col-md-6 col-md-offset-6" style="width:50%;margin:0 auto;">
<div class="card mt-4 col-md-6 floatLeft" style="padding:1%">
    <div class="card-header text-center" style="background-color: green;color: #fff;">Positive Terms</div>
    <div class="list-group list-group-flush small">
        <a class="list-group-item list-group-item-action" href="#!" *ngFor="let key of product.positiveKeywords">
            <i class="fas fa-tag fa-fw text-purple me-2"></i>
            {{key}}
        </a>
    </div>
</div>
<div class="card mt-4 col-md-6 floatLeft" style="padding:1%">
    <div class="card-header text-center" style="background-color: #e81500;color: #fff;">Negative Terms</div>
    <div class="list-group list-group-flush small">
        <a class="list-group-item list-group-item-action" href="#!" *ngFor="let key of product.negativeKeywords">
            <i class="fas fa-tag fa-fw text-purple me-2"></i>
            {{key}}
        </a>
    </div>
</div>
</div>
